p{
    margin-bottom: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
}
.section-title{
    position: relative;
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}
.section-title::after{
    display: block;
    content: "";
    position: absolute;
    width: 23%;
    bottom: 0;
    top: 35px;
    left: 42%;
    height: 40px;
    background-color: #66B2B2   ;
    z-index: -1;
    border-radius: 3px;
}

/* header */

/* menu */

#menu{
    background-color:#008080 ;
    padding: 10px;
}
.menu-fix{
    position: fixed;
    width: 100%;
    z-index: 2;
}
#info{
    color: #fff;
}

.profile-logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#menu-link ul li{
    margin-right: 10px;
    font-size: 20px;
}
.menu-border{
    padding: 5px;
    border-bottom: 2px solid #004C4C;
    border-radius: 10px;
}
.menu-border-2{
    padding: 5px;
    border-bottom: 2px solid #004C4C;
    border-radius: 10px;
}
#menu-link ul li a{
    transition: all 150ms ease-in;
}

/* slider */
#image-slider .img-fluid{
    height: 600px;
    width: 100%;
}

/* about me */
#about{
    padding-top: 50px;
}
.profile-img{
    width: 300px;
    height: auto;
    border-radius: 20px;
}
#about-me p{
    width: 80%;
    padding-left: 50px;
}

/* skill */

#skill{
    margin-top: 50px;
    padding: 30px 0 80px 0;
    color: #fff;
    background: rgb(0,102,102);
    background: linear-gradient(90deg, rgba(0,102,102,1) 0%, rgba(0,128,128,1) 26%, rgba(102,178,178,1) 73%, rgba(178,216,216,1) 100%);
}
#skill .container{
    display: none;
}
.skill-box{
    width: 30%;
    margin-left: 15px;
}
#skill .section-title::after{
    display: none;
}
.skill-level-1{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-2{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-3{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-4{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-5{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-6{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-7{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-8{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-9{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-10{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-11{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.skill-level-12{
    background-color: #B2D8D8;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}

.skill-level-text{
    position: absolute;
    right: 5px;
    bottom: -1px;
}

/* studies */
#studies{
    overflow: hidden;
    height: 665px;
}
.studies-box{
    position: relative;
    width: 33%;
    height: 250px;
    overflow: hidden;
}
.studies-box .img-fluid{
    width: 100%;
    height: 100%;
}
.studies-box a{
    display: block;
} 
.studies-title{
    position: absolute;
    color: #000;
    width: 90%;
    z-index: 2;
    font-size: 30px;
    font-weight: 500;
    left: 50%;
    margin-bottom: -80px;
    margin-left: -45%;
    margin-top: -310px;
    text-align: center;
}
.studies-content{
    position: absolute;
    color: #000;
    bottom: 0;
    left: 50%;
    margin-bottom: -80px;
    margin-left: -125px;
    font-size: 18px;
}
.studies-content a{
    margin-right: 10px;
}

.studies-box-bg{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1500ms;
    width:100%;
    height: 250px;
}
/* blog */
#blog{
    position: relative;
    padding-bottom: 100px;
    background: rgb(0,102,102);
    background: linear-gradient(90deg, rgba(0,102,102,1) 0%, rgba(0,128,128,1) 26%, rgba(102,178,178,1) 73%, rgba(178,216,216,1) 100%);
}
#blog .container{
    display: none;
}
#blog-card .container{
    display: none;
}
#blog-card .card{
    margin-right: 30px;
    width: 100%;
}
#blog .section-title{
    color: #fff;
}
#blog .section-title::after{
    display: none;
}
.blog-card{
    margin-top: -100px;
    position: relative;
}
.read-counter{
    position: absolute;
    display: none;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
}
#blog-card .card-img-top{
    transition: 300ms all ease-in-out;
}
.fa-fire{
    color: red;
}
.fa-fire span{
    color: #fff;
    padding: 5px;
}
.blog-button{
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#blog-card button{
    border: none;
}
#blog-card a{
    border: none;
}
.card-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.card-img-top{
    width: 100%;
    height: 200px;
    display: block;
}
.card-img-top:hover{
    transform: scale(1.2);
} 

/* contact */
#contact{
    background-image: url(img/de.png);
    background-position: center;
    background-size: cover;
    padding: 10px 0;
}
.contact-form{
    margin-top: 10%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
/* .contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
} */
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.form-group{
    margin-bottom: 20px;
}


/* back to top */
.back-to-top{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    margin-bottom: 30px;
    margin-right: 30px;
    display: none;
}

/* socail media */
#social-icon{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.fa-plus-circle{
    cursor:pointer ;
    transition: 500ms;
}
.show-icon-transform{
    transform: rotate(360deg);
}
.social-icon a{
    display: block;
    margin-bottom: -7px;
}
.bi-twitter,.bi-instagram,.bi-github,.bi-linkedin{
    display: none;
    font-size: 35px;
    color: #000;
    position: relative;
    margin-bottom: -7px;
    left: 10px;
    bottom: 10px;
}